/*global*/
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: arial;
}


/*utilities*/



/*header*/

header.site-init{
    background-image: url(./img/header.jpg);
    background-position: top;
    background-size: cover;
    height: 300px;
    color: white;
    text-align: center;
}

.bar{
    justify-content: space-around;
    align-items: center;
    height: 100px;
    color: white;
    padding: 10px;
}

/*menu*/
.menu a{
    color: white;
    padding: 10px;
}